/**
 * CSS Stylesheet for Corona Help Bot web application
 */

body {
    background-color: rgb(28, 208, 231);
  }

  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
   font-size: 50px;

  }

  h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
  }

  * {
    font-size: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
